/vendor/
/nbproject/private/
/tests/coverage/
/tests/log/
/build/
/.idea/dictionaries/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/deployment.xml
/.idea/vagrant.xml
/.idea/misc.xml
/.idea/inspectionProfiles/
/.idea/codeStyles
/.env