<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./tests/functional/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/coverage/html" lowUpperBound="35"
             highLowerBound="80"/>
        <log type="coverage-clover" target="./tests/coverage/clover.xml"/>
        <log type="coverage-php" target="./tests/coverage/serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="json" target="./tests/log/logfile.json"/>
        <log type="tap" target="./tests/log/logfile.tap"/>
        <log type="junit" target="./tests/log/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="./tests/log/testdox.html"/>
        <log type="testdox-text" target="./tests/log/testdox.txt"/>
    </logging>
</phpunit>
